.project-page {
  max-width: var(--bordered-page-width);
  width: 100%;
  margin: 0 auto;
  padding-block: 24px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.2s ease forwards;
}

.project-page .padded-container {
  --container-padding: 32px
}

.arrow-btn {
  display: none;
  border-radius: 50%;
  width: max-content;
  position: fixed;
  padding: 0px;
  top: 134px;
  color: var(--color-white);
  gap: 8px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
}

.arrow-btn.back {
  --translate-direction: -1;
  left: 4vh
}

.arrow-btn.next {
  right: 4vh;
  --translate-direction: 1;
  flex-direction: row-reverse;
}

.arrow-btn img {
  transition: transform 0.2s ease;
}

.arrow-btn:hover img {
  transform: translateX(calc(100% * (.1 * var(--translate-direction))));
  pointer-events: none;
}

.project-page .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.project-page .description p {
  letter-spacing: -0.01em;
  line-height: 1.5;
  max-width: 610px;
  display: inline-block;
  line-height: 1.5;
  text-wrap: balance;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 17px;

}

.project-info .container-grid {
  display: grid;
  row-gap: 120px;
}

.built-with {
  --border: solid 1px var(--color-black);
  --title-spacing: 12px;
  height: 100px;
  width: 320px;
  display: grid;
  padding: 10px;
  position: relative;
}

.built-with::before {
  position: absolute;
  content: "";
  border-left: var(--border);
  height: 100%;
}

.built-with .logo {
  display: inline-block;
  max-height: 40px;
  max-width: 40px;
}

.built-with .title {
  margin: 0;
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  text-wrap: nowrap;
  height: min-content;
  padding-bottom: 5px;
}

.built-with .title::after {
  position: absolute;
  content: "";
  border-top: var(--border);
  width: calc(100% + 30px);
  bottom: 0;
  left: 0;
  transform: translateX(-30px);
}

.built-with .tools {
  max-width: calc(100% - var(--title-spacing));
  transform: translateX(var(--title-spacing));
  display: flex;
  padding-inline: 20px;
  height: 100%;
  align-items: center;
  gap: 25px;
}

.project-images .images-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 52px;
  /* padding: 44px 40px; */
}

.built-with img,
.project-images img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .built-with {
    align-self: flex-end;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1528px) {
  .arrow-btn {
    display: flex;
  }
}

