.project-page {
  max-width: var(--bordered-page-width);
  width: 100%;
  margin: 0 auto;
  padding-block: 24px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.2s ease forwards;
}

.project-page .padded-container {
  --container-padding: 32px
}

.arrow-btn.home {
  --translate-direction: -1;
  padding-right: 10px;
  display: none;
  position: fixed;
  top: 134px;
  left: 3vh;
}

.project-page .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.project-page .project-name {
  text-transform: capitalize;
}

.project-page .description p {
  letter-spacing: -0.01em;
  line-height: 1.5;
  max-width: 610px;
  display: inline-block;
  line-height: 1.5;
  text-wrap: balance;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 17px;

}

.project-info .container-grid {
  display: grid;
  row-gap: 120px;
}

.built-with {
  --border: solid 1px var(--color-black);
  --title-spacing: 12px;
  height: 100px;
  width: 320px;
  display: grid;
  padding: 10px;
  position: relative;
}

.built-with::before {
  position: absolute;
  content: "";
  border-left: var(--border);
  height: 100%;
}

.built-with .logo {
  display: inline-block;
  max-height: 40px;
  max-width: 40px;
}

.built-with .title {
  margin: 0;
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  text-wrap: nowrap;
  height: min-content;
  padding-bottom: 5px;
}

.built-with .title::after {
  position: absolute;
  content: "";
  border-top: var(--border);
  width: calc(100% + 30px);
  bottom: 0;
  left: 0;
  transform: translateX(-30px);
}

.built-with .tools {
  max-width: calc(100% - var(--title-spacing));
  transform: translateX(var(--title-spacing));
  display: flex;
  padding-inline: 20px;
  height: 100%;
  align-items: center;
  gap: 25px;
}

.project-images .images-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 52px;
  /* padding: 44px 40px; */
}

.built-with img,
.project-images img {
  height: 100%;
  width: 100%;
}

.project-navigator {
  --nav-max-width: 200px;
  --container-border-radius: 8px;
  position: fixed;
  right: 4vh;
  bottom: 4vh;
  display: flex;
  max-height: fit-content;
  max-width: var(--nav-max-width);
}

.project-navigator .fixed-container {
  border-radius: var(--container-border-radius);
  display: flex;
  width: var(--nav-max-width);
  min-height: 100px;
  align-self: center;
  background-color: var(--color-black);
  justify-content: center;
  position: relative;
}

.project-navigator .nav-btns {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  padding-bottom: 32px;
  width: 50%;
}

.project-navigator .hover-text {
  bottom: 10px;
  left: 10px;
  text-transform: capitalize;
  font-size: 15px;
  position: absolute;
  top: 0;
  text-wrap: nowrap;
  padding-left: 8px;
  padding-top: 12px;
}

.project-navigator .thumbnail {
  width: 100%;
  height: auto;
  border-radius: var(--container-border-radius);
  background-color: var(--color-black);
}

.project-navigator .thumbnail-wrapper {
  position: relative;
}

.project-navigator .thumbnail-wrapper::after {
  position: absolute;
  bottom: -12px;
  left: 0;
  height: 24px;
  background-color: var(--color-black);
  content: "";
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .built-with {
    align-self: flex-end;
    padding-right: 0px;
  }

  .project-navigator {
    --nav-max-width: 230px;
  }
}

@media screen and (min-width: 1528px) {
  .arrow-btn.home {
    display: flex;
  }
}

@media screen and (min-width: 1600px) {
  .arrow-btn.home {
    left: 4vh;
    gap: 8px;
  }
}

