.project-page {
  max-width: var(--bordered-page-width);
  width: 100%;
  margin: 0 auto;
  padding-block: 24px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.2s ease forwards;
}

.back {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: var(--color-black-deep);
  pointer-events: all;
}

.back:hover {
  transform: scale(1.02);
}

.back .material-symbols-outlined {
  transition: transform 0.2s ease;
}

.back:hover .material-symbols-outlined {
  transform: translateX(calc(100% * -.1));
  pointer-events: none;
}

.project-page .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.project-page .description p {
  letter-spacing: -0.01em;
  line-height: 1.5;
  max-width: 610px;
  display: inline-block;
  line-height: 1.5;
  text-wrap: balance;
}

.info-content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;

}

.project-info .container-grid {
  display: grid;
  row-gap: 120px;
}

.built-with {
  --border: solid 1px var(--color-black-deep);
  --title-spacing: 12px;
  height: 100px;
  width: 320px;
  display: grid;
  align-self: flex-end;
  padding: 10px;
  position: relative;
}

.built-with::before {
  position: absolute;
  content: "";
  border-left: var(--border);
  height: 100%;
}

.built-with .logo {
  display: inline-block;
  max-height: 40px;
  max-width: 40px;
}

.built-with .title {
  margin: 0;
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  text-wrap: nowrap;
  height: min-content;
  padding-bottom: 5px;
}

.built-with .title::after {
  position: absolute;
  content: "";
  border-top: var(--border);
  width: calc(100% + 30px);
  bottom: 0;
  left: 0;
  transform: translateX(-30px);
}

.built-with .tools {
  max-width: calc(100% - var(--title-spacing));
  transform: translateX(var(--title-spacing));
  display: flex;
  padding-inline: 20px;
  height: 100%;
  align-items: center;
  gap: 25px;
}

.built-with img {
  height: 100%;
  width: 100%;
}