.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.not-found .error-message {
  font-size: 30px;
}

.not-found a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 20px;
  font-size: 15px;
  background-color: var(--color-black);
  transition: background-color 0.2s ease-in-out;
}

.not-found a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
