.home {
  width: 100%;
  height: 100%;
  --border-vertical: solid 1px var(--color-black-deep)
}

.home-section.intro {
  height: 750px;
}

.home-section.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(var(--color-black-deep) 1px, transparent 1px);
  background-size: 24px 24px;
}

.intro .border-container::after,
.intro .border-container::before {
  border-left: none;
}

@keyframes slideAcross {
  from { left: 100%; } 
  to { left: 0%; }
}



section > div:has( .title-upright ) {
  position: relative;
  max-width: var(--container-width);
}

.contained-width {
  margin: 0 auto;
  max-width: var(--container-width);
}

.border-section-wrapper {
  margin: 0 auto;
  padding: 24px 12px;
  height: 100%;
  width: 100%;
  position: relative;
  max-width: var(--container-width);
}

.bordered-section {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: var(--border-vertical);
}

.bordered-section::before {
  border-top: var(--border-vertical);
  content: "";
  position: absolute;
  width: 100vw;
}


.border-container {
  height: 100%;
  width: 100%;
}

.border-container::before,
.border-container::after {
  content: "";
  top: 0;
  position: absolute;
  height: 100%;
  z-index: 1;
  border-left: var(--container-border);
}

.border-container::after {
  right: 12px;
}

section .title-upright {
  padding: 0;
  font-size: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  writing-mode: vertical-lr;
  transform: 
    translateX(-100%) 
    translateX(-12px) 
    translateY(8px) 
    rotate(-180deg);
  font-weight: normal;
  margin: 0;
}

.section-full-width {
  width: 100%;
}

.section-full-width.bordered  {
  border-top: var(--border-vertical);
  border-bottom: var(--border-vertical);
}

.cliffhanger .border-section-wrapper {
  padding: 0;
}

.cliffhanger h2 {
  margin: 0;
}

.cliffhanger .contained-width {
  padding: 44px 40px;
}

.cliffhanger span {
  font-weight: 400;
  display: inline-block;
  line-height: 1.5;
  text-wrap: balance;
}

.slide-up {
  --anim-duration: .5s;
  --timing: cubic-bezier(.215,.61,.355,1);
  --delay: .08s;
  transform: translateY(50px);
  opacity: 0;
  animation: 
  slideUp var(--anim-duration) var(--timing) var(--delay) forwards,
  fadeIn var(--anim-duration) var(--timing) var(--delay) forwards;
}

@keyframes slideUp {
  to { transform: translateY(0px); }
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  justify-content: center;
  padding: 17px;
  min-height: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects header {
  width: min-content;
}

.project {
  --anim-duration: .2s;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  height: 432px;
  max-width: 390px;
  outline: solid 1px var(--color-black-deep);
}

.project .info {
  padding: 20px;
  font-size: 18px;
}

.project .bg {
  background-color: #100f0f;
  inset: 0;
  position: absolute;
  transition: transform ease var(--anim-duration), border-radius ease-out .17s;
}

.project .image {
  border-bottom: var(--border-vertical);
}

.project:hover .bg {
  transform: scale(1.01);
}

.project .hover-bg {
  transition: background-color .3s ease;
  background-color: transparent;
  position: absolute;
  inset: 0;
}

.project:hover .hover-bg {
  background-color: rgba(0, 0, 0, .1);
  z-index: 1;
}

.hover-lift {
  transition: transform var(--anim-duration) ease-in-out;
}

.project .container {
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project img {
  height: 100%;
  min-width: 0px;
  width: 100%;
}


.tools .logos {
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-evenly;
}

.tools img {
  height: 80px;
  width: auto;
}

.media-links .content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 165px;
  gap: 30px;
}

.projects-section {
  min-height: 530px;
}

.projects-section .border-container::before,
.projects-section .border-container::after {
  height: calc(100% + 90px + 32px);
  transform: translateY(-32px);
}

@media screen and (min-width: 1381px) {

  .cliffhanger .border-section-wrapper {
    padding-bottom: 30px;
  }
}

.home .tool {
  max-width: 80px;
  max-height: 80px;
}