.home {
  --border-vertical: solid 1px var(--color-black);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


.home-section.intro {
  height: 750px;
}

.home-section.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(var(--color-black) 1px, transparent 1px);
  background-size: 24px 24px;
}

.intro .border-container::after,
.intro .border-container::before {
  border-left: none;
}

@keyframes slideAcross {
  from { left: 100%; } 
  to { left: 0%; }
}



section > div:has( .title-upright ) {
  position: relative;
  max-width: var(--container-width);
}

.border-section-wrapper {
  margin: 0 auto;
  padding: 24px 12px;
  height: 100%;
  width: 100%;
  position: relative;
  max-width: var(--container-width);
}

.bordered-section {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: var(--border-vertical);
}

.bordered-section::before {
  border-top: var(--border-vertical);
  content: "";
  position: absolute;
  width: 100vw;
}


.border-container {
  height: 100%;
  width: 100%;
}

.border-container::before,
.border-container::after {
  content: "";
  top: 0;
  position: absolute;
  height: 100%;
  z-index: 1;
  border-left: var(--dashed-border);
}

.border-container::after {
  right: 12px;
}

.section-full-width {
  width: 100%;
}

.section-full-width.bordered  {
  border-top: var(--border-vertical);
  border-bottom: var(--border-vertical);
}

.cliffhanger .border-section-wrapper {
  padding: 0;
}

.cliffhanger h2 {
  margin: 0;
}

.cliffhanger .contained-width {
  padding: 44px 40px;
}

.cliffhanger span {
  font-weight: 400;
  display: inline-block;
  line-height: 1.5;
  text-wrap: balance;
  font-size: 20px;
}

.projects-section {
  padding-bottom: 64px;
}

.projects-section .border-section-children-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.projects-section .border-container::before,
.projects-section .border-container::after {
  height: calc(100% + 160px + 60px);
  transform: translateY(-60px);
}

.projects-section .border-section-children-container {
  min-height: 100%;
}

.projects-section .scroll-indicator {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.projects {
  min-height: 490px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: var(--container-width);
}

.projects header {
  width: min-content;
}

.project {
  --anim-duration: .2s;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  border: solid 1px var(--color-black);
  transition: transform .5s cubic-bezier(.215,.61,.355,1), opacity .5s cubic-bezier(.215,.61,.355,1);
}

.project .image,
.project .info { 
  flex: 1;
}

.project .info {
  padding: 20px;
  font-size: 18px;
}

.project .bg {
  display: none;
}

.project:hover .bg {
  transform: scale(1.01);
}

.projects-section .min-height-contain {
  min-height: calc(max(100%, 500px));
  height: 500px;
}

.projects-section .border-section-wrapper {
  padding-right: 0px;
}

.project .hover-bg {
  transition: background-color .3s ease;
  background-color: transparent;
  position: absolute;
  inset: 0;
}

.project:hover .hover-bg {
  background-color: rgba(0, 0, 0, .1);
  z-index: 1;
}

.hover-lift {
  transition: transform var(--anim-duration) ease-in-out;
}

.project .widget {
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tools .logos {
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.tools img {
  height: 40px;
  width: auto;
  max-width: unset;
}

.projects-section .scroll {
  width: 100%;
  display: flex;
  gap: 12px;
  cursor: default;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.projects-section .scroll {
  display: none;
}

.projects-section .scroll button {
  display: flex;
  align-items: center;
  padding: 0;
}

.projects-section .scroll img, 
.projects-section .scroll button  {
  cursor: pointer;
}

.projects:before {
  inset: 0;
  position: absolute;
}

.projects-section .scroll-indicator.active {
  outline: solid 1px var(--color-white);
  background-color: transparent;
}

.projects-section .scroll-position {
  display: flex;
  gap: 12px;
}

.media-links .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (min-width: 1381px) {

  .cliffhanger .border-section-wrapper {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1017px) {
  .cliffhanger span {
    font-size: unset;
  }
}

.home .tool {
  max-width: 85px;
  max-height: 80px;
}

section .title-upright {
  padding: 0;
  font-size: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 12px;
  padding-bottom: 12px;
  margin: 0;
}

@media screen and (min-width: 900px) {
  .projects-section .border-section-wrapper {
    padding-right: 12px;
  }

}


@media screen and (min-width: 920px) {
  .projects-section .scroll {
    display: flex;
  }
}

@media screen and (min-width: 1050px) {
  .project-widget-container {
    transform: translateX(calc(var(--translate-factor) * 20));
    width: calc(var(--container-width) / 3);
  }
  
  .project .bg {
    background-color: #100f0f;
    inset: 0;
    position: absolute;
    transition: transform ease var(--anim-duration), border-radius ease-out .17s;
  }

}

@media screen and (min-width: 720px) {

  .tools .logos {
    padding-top: 0;
  }

  .tools img {
    height: 80px;
  }
}


@media screen and (min-width: 1380px) {
  section .title-upright {
    padding: 0;
    top: 0;
    writing-mode: vertical-lr;
    position: absolute;
    transform: 
      translateX(-100%) 
      translateX(-12px) 
      translateY(14px) 
      rotate(-180deg);
    }

  }