.interactive-link {
  background-color: var(--color-black);
  padding: 0px;
  border-radius: 3px;
  color: var(--color-white);
  cursor: pointer;
  transition: 
    transform 0.2s ease, 
    background-color 0.2s ease-in-out,
    border-radius 0.17s ease;
  padding: 11px 20px;
}

.interactive-link:hover {
  border-radius: 0px;
  transform: translateX(2px);
  background-color: rgba(0, 0, 0, 0.5); 
}

