

.interactive-text {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  max-width: fit-content;
  position: relative;
}

.write-text {
  --animation-duration: .9s;
  width: 0%;
  animation: writeText var(--animation-duration) steps(44) 1s forwards;
  animation-duration: var(--animation-duration);
  animation-delay: calc(var(--delay) + calc(var(--animation-duration) * var(--order-index)));
}

@keyframes writeText {
    0% {
      width: 0%;
    } 100% {
      width: 100%;
    }
}

@media screen and (min-width: 600px) {
  .write-text {
    --animation-duration: 1.25s;
  }
}

@media screen and (min-width: 770px) {
  .write-text {
    --animation-duration: 2s;
  }
}
