.interactive-text {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  max-width: fit-content;
}

.write-text {
  width: 0%;
  animation: writeText 2s steps(44) 1s forwards
}

@keyframes writeText {
    0% {
      width: 0%;
    } 100% {
      width: 100%;
    }
}