@media screen and (min-width: 900px) {
  :root {
    --dashed-border: dashed 1px var(--color-grey-secondary) !important;
  }
}

@media screen and (min-width: 1300px) {
  .padded-container {
    --container-padding: 0px !important;
  }
}

:root {
  --color-background: #121212;
  --color-black: #0b0b0b;
  --color-grey-secondary: #383434;
  --color-white: #fff;
  --font-size: 17px;
  --container-width: 1300px;
  --font-large: 1.3em;
  --font-bold-1: 900;
  --dashed-border: none;
  --bordered-page-width: calc(var(--container-width) - 24px);
  --fade-in-animation: fadeIn ease-in forwards;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

body, html, #root {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: monospace, sans-serif;
  font-size: var(--font-size);
}

input, button, a {
  font-family: inherit;
}

.root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 1fr;
}

.fade-in {
  opacity: 0;
  animation: var(--fade-in-animation);
  animation-delay: var(--fade-in-delay, 0s);
  animation-duration: var(--fade-in-duration, 0.25s);
}


.padded-container {
  --container-padding: 24px 12px;
  padding: var(--container-padding);
}

.full-space {
  height: 100%;
  width: 100%;
}

.contained-width {
  margin: 0 auto;
  max-width: var(--container-width);
}

.media-link {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0px 10px;
  color: var(--color-white);
}

.media-link a {
  inset: 0;
  position: absolute;
  cursor: pointer;
} 

@keyframes fadeIn {
  to { opacity: var(--fade-in-opacity, 1); }
};