:root {
  --color-background: #121212;
  --color-black-deep: #0b0b0b;
  --color-white: #fff;
  --font-size: 17px;
  --container-width: 1380px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

body, html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: monospace, sans-serif;
  font-size: var(--font-size);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.25s ease-in forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
};