.nav-main {
  width: 100%;
  background-color: var(--color-black-deep);
}

.nav-main .link-container {
  --spacer-border: dashed 1px var(--color-white);
  margin: 0 auto;
  min-height: 90px;
  width: min(100%, calc(var(--container-width)));
  align-items: center;
  justify-content: center;
  display: flex;
  border-right: var(--spacer-border);
  border-left: var(--spacer-border);
  gap: 40px;
}

.nav-main a:focus-visible {
  outline: none;
}