.nav-main {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-black);
}


.nav-main .borders {
  border-right: var(--dashed-border);
  border-left: var(--dashed-border);
  margin: 0 auto;
  position: absolute;
  inset: 0;
  height: calc(100% + 24px);
  z-index: -1;
  max-width: calc(min(100%, var(--container-width)) - 24px)
}

.nav-main:has( .home ) .borders {
  height: calc(100% + 20px);
}

.nav-main .link-container {
  max-width: calc(var(--container-width) - 24px);
  margin: 0 auto;
  max-height: calc(100% - 12px);
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  z-index: 4;
  gap: 40px;
}

.menu-small {
  margin-right: 12px;
}

.menu-small-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background-color: var(--color-black);
  --fade-in-opacity: .8;
}

.menu-small-overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu-small-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50vh;
  margin-top: auto;
}

.menu-small-link {
  background-color: var(--color-background);
  border-block: solid 1px var(--color-black);
}

.menu-small-link a, .menu-small-link span {
  width: 100%;
  height: 100%;
  padding: 20px;
  cursor: pointer !important;
}

.small-nav-flex {
  display: flex;
  justify-content: flex-end;
  width: max(100%, 100vw);
  align-items: center;
  height: 100%;
}

.nav-main .md-trigger {
  display: none;
}

.nav-main a:focus-visible {
  outline: none;
}

.nav-btn {
  color: var(--color-white);
}

.nav-link {
  display: inline-block;
}

span.nav-link {
  cursor: default;
}

@media screen and (min-width: 800px) {
  .nav-main .md-trigger {
    display: flex;
  }

  .small-nav-flex {
    display: none;
  }

}